{% extends 'base.html.twig' %}

{% block body %}
    <h1>Comments list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td><a href="{{ path(':username_comments_show', { 'id': comment.id }) }}">{{ comment.id }}</a></td>
                <td>{{ comment.name }}</td>
                <td>{{ comment.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path(':username_comments_show', { 'id': comment.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path(':username_comments_edit', { 'id': comment.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path(':username_comments_new') }}">Create a new comment</a>
        </li>
    </ul>
{% endblock %}
