<!DOCTYPE html>
<html>

<!-- Website made by Nicolas Capron && Pol Soyez -->

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Enregistrer un utilisateur{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        {% block stylesheets %}

            <!-- Appel CSS Boostrap -->
            <link rel="stylesheet" href="{{ asset ('bundles/github/css/bootstrap.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset ('bundles/github/css/bootstrap-theme.min.css') }}"/>
            <link rel="stylesheet" href="{{ asset ('bundles/github/css/font-awesome.css') }}"/>

        {% endblock %}
    </head>

    <body>
        <div class="flashmsg_newsletter">
            {% if app.session.flashBag.has('error') %}
                <div class="alert alert-error">
                    {% for msg in app.session.flashBag.get('error') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% elseif app.session.flashBag.has('success_reactivate') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success_reactivate') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- Appel Jquery -->
            <script src="{{ asset ('bundles/github/js/jquery-3.0.0.min.js') }}"></script>
            <script src="{{ asset ('bundles/github/js/jquery-2.0.0.min.js') }}"></script>

            <!-- Appel JavaScript Bootstrap -->
            <script src="{{ asset ('bundles/github/js/bootstrap.min.js') }}"></script>
        {% endblock %}
        {% block js %}{% endblock %}
    </body>
</html>
