{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
{% endif %}



    <div class="row">
        <div class="col-md-6 col-md-offset-5">

            <form action="{{ path("fos_user_security_check") }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                            <input type="password" id="password" name="_password" required="required" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <a href="register">Pas encore de compte ?</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>







{% endblock fos_user_content %}
