{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('github_homepage') }}" class="btn btn-default btn-block">Choisir un autre utilisateur</a>

    <h1 class="text-center">Ajout d'un nouveau commentaire</h1>
<hr>
    <div class="col-md-8 col-sm-12">
        {{ form_start(form) }}
            <!-- <select class="form-control" name="name">
            {% for item in items %}
                <option>{{item.full_name}}</option>
            {% endfor %}
            </select> -->
            <div class="row hidden">
                <div class="col-md-6 col-md-offset-6">
                    <div class="form-group">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control', 'value': username}}) }}
                        {{ form_errors(form.username) }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="form-group">
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom du repo'}}) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="form-group">
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Commentaire'}}) }}
                        {{ form_errors(form.description) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-block" value="Valider">
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
        <div class="row">
            <div class="col-md-6 col-md-offset-6">
                <div class="form-group">
                    {% if app.session.flashBag.has('success') %}
                        <div class="alert alert-success">
                            {% for msg in app.session.flashBag.get('success') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% elseif app.session.flashBag.has('danger') %}
                        <div class="alert alert-danger">
                            {% for msg in app.session.flashBag.get('danger') %}
                                {{ msg }}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
            <div class="row mt50">
                <div class="col-md-12 col-md-offset-3">
                    {% include 'GithubBundle:Comments:index.html.twig' with {'username': username} %}
                </div>
            </div>
    </div>
{% endblock %}
